# OS files
.DS_Store
*~

# IDE files
.eclipse.buildship.core.prefs
.idea/
.project
.vs/
.vscode/
*.iml
*.ipr
*.iws
*.swp

# Build directories
.gradle/
bin/
build/
node_modules/
obj/
pkg/
vendor/

# Terraform files
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.tfstate.backup
*.tfvars
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfstate*
terraform/*.tfvars
terraform/policy.yaml

# Python
.venv/
*.pyc
__pycache__/
*.py[cod]
*$py.class

# Kubernetes
.kubernetes-manifests-*/
.skaffold-*.yaml
release/wi-kubernetes-manifests.yaml

# Docker
Dockerfile.pip

# Logs
*.log
